.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
storage/framework/testing/*
!storage/framework/testing/.gitkeep
tests
coverage.xml
phpunit.xml
.editorconfig
.gitignore
.gitattributes
README.md
docs
*.md
.phpunit.cache
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json
.fleet
.idea
.nova
.vscode
.zed
